*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.general{
    background-color: black;
    color: white;
}
.general h1{
    padding-top: 10px;
}
.myheading{
    background-color: maroon;
    color: black;
}
