<p>quote works!</p>
<div class="container-fluid">
    <ol>
        <div class="row">
            <div class="col">
                <h4>QUOTES</h4>
            </div>
            <div class="col">
                <h4>AUTHOR</h4>
            </div>
            <div class="col">
                <h4>UPVOTE</h4>
            </div>
            <div class="col">
                <h4>DOWNVOTE</h4>
            </div>
            <div class="col">
                <h4>POINTS</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li>Start writing, no matter what. The water does not flow until the faucet is turned on.</li>
            </div>
            <div class="col">
                <p>Louis L’Amour</p>
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
            <div class="col">
                10
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li>Get it down. Take chances. It may be bad, but it's the only way you can do anything really good.</li>
            </div>
            <div class="col">
                <p>William Faulkner</p>
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
            <div class="col">
                10
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li>The first draft is just you telling yourself the story.</li>
            </div>
            <div class="col">
                <p>Terry Pratchett</p>
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
            <div class="col">
                10
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li>You don’t start out writing good stuff. You start out writing crap and thinking it’s good stuff, and then gradually you get better at it.</li>
            </div>
            <div class="col">
                <p>Steven Pressfield</p>
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
            <div class="col">
                10
            </div>
        </div>
        <div class="row">
            <div class="col">
                <li>Start before you’re ready.</li>
    
            </div>
            <div class="col">
                <p>Octavia E. Butler</p>
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
            <div class="col">
                10
            </div>
        </div>
    </ol>
</div>    
