<div class="container question">
    <div class="row d-flex justify-content-center">
        <p>WOULD YOU LIKE TO CREATE A NEW QUOTE?</p>
    </div>
    <form action="" class="myform">
        <div class="row details">
            <input type="text" placeholder="What's your full name?">
            <textarea name="" id="myquote" placeholder="Type your quote here..."></textarea>
        </div>
        <hr>
        <div class="button-2">
            <button>SUBMIT</button>
            <button>DELETE</button>
        </div>
    </form>
</div>
