<div class="container question">
    <hr>
    <div class="row d-flex justify-content-center">
        <p>WOULD YOU LIKE TO CREATE A NEW QUOTE?</p>
    </div>
    <form action="" class="myform">
        <div class="row details">
            <input name="inputs" ngModel  #inputs="ngModel" (change)="log(inputs)" class="form-control" type="text" placeholder="What's your full name?">
            <textarea id="mytextarea" class="form-control" id="myquote" placeholder="Type your quote here..."></textarea>
        </div>
        <hr>
        <div class="button-2">
            <button>ADD QUOTE</button>
            <button>DELETE QUOTE</button>
        </div>
    </form>
    <footer class="row myfooter d-flex justify-content-center">
        <p>Made with love by Bambi</p>
    </footer>
</div>
